@use '../scss/partials/variables' as *;
@use '../scss/partials/mixins' as *;

footer {
    background-image: url(/public/img/footer-bg.jpg);
    height: $footer-hg;
    background-size: cover;
    

        #footer-top {
        @include container;
        @include footer-display-flex;


        #footer-list-container {
            width: $footer-list-wd;
            padding: 30px 0;
            @include footer-list-display-flex;

            div {
                margin-right: 40px;
                @include footer-list-div-d-flex;

                h4 {
                    color: white;
                    }

                    li {
                        list-style: $general-list-style;

                        a {
                            text-decoration: $general-a-text-decoration;
                            color: #959595;
                            font-size: 0.7rem
                        }
                }

            }


        }

        #big-logo-container {

            @include footer-img-logo;
            height: $footer-hg;
            overflow: hidden;

        }
    }

        #footer-bottom {
            background-color: $footer-bottom-bg;
            display: flex;
            align-items: center;
            padding: $footer-bottom-padding;

            #footer-bottom-container{
                @include container;
                @include footer-bottom-display-flex;
            }

            button {
                @include footer-bottom-button;
                cursor: pointer;
            }

            #social-links {

                display: flex;
                align-items: center;

                span {
                    color: $span-color;
                    font-size: 20px;
                }

                ul {
                    display: flex;
                    li {
                        list-style: $general-list-style;
                        margin-left: 15px;
                    }
                }
                
            }
        }
}

