@use '../scss/partials/variables' as *;
@use '../scss/partials/mixins' as *;

header {
    background-color: $header-bg-color;
    // height: $header-hg;
    padding: $header-padding;
    font-size: 14px;
    @include header-display-flex;
    @include container;

    img {
        width: $logo-width;
    }

    #menu {
        #menu-list {
            display: flex;
            li {
                list-style: $general-list-style;
                a {
                    text-decoration: $general-a-text-decoration;
                    color: black;
                    margin-left: 20px;

                    &:hover {
                        color: #0482F9;
                    }
                }

            }
        }
    }
}
