@use '../scss/partials/variables' as *;
@use '../scss/partials/mixins' as *;

header {
    background-color: $header-bg-color;
    height: $header-hg;
    // padding: $header-padding;
    font-size: 14px;
    @include header-display-flex;
    @include container;


    img {
        width: $logo-width;
    }

    #menu {
        #menu-list {
            display: flex;
            li {
                list-style: $general-list-style;
                position: relative;
                a {
                    text-decoration: $general-a-text-decoration;
                    color: black;
                    margin-left: 20px;

                    &:hover, &.active {
                        color: #0482F9;
                    }
                }

                &:nth-of-type(2), & a.active {
                    color: $main-color;
                }

                & a.active::before, & a:hover::before{
                    content: '';
                    position: absolute;
                    background-color: $main-color;
                    height: 5px;
                    width: 100%;
                    left: 10px;
                    top: 69px;
                }

            }
        }
    }
}
