@use 'partials/variables.scss' as *;
@use 'partials/mixins.scss' as *;

main {
    background-color: $main-section-one-bg;

    #content {
        @include container;

        padding: $main-section-one-padding;
        font-size: 24px;
        
        a {
            text-decoration: $general-a-text-decoration;
            color: white;
        }   
    }

    #shop {

        background-color: $main-shop-section-bg;


            ul {
                @include container;
                @include main-display-flex;
                padding: $main-shop-padding;

                li {
                    list-style: $general-list-style;

                    .shop-icons {

                        display: flex;
                        align-items: center;

                        img {
                            width: $main-img-width;
                        }

                        a {
                            text-decoration: $general-a-text-decoration;
                            color: white;
                            margin-left: 10px;
                            font-size: 12px;
                            font-size: smaller;
                        }
                        

                    }

                }
            }

    }
}
