@use 'partials/variables.scss' as *;
@use 'partials/mixins.scss' as *;

main {
    background-color: $main-section-one-bg;

    #jumbotron {
        width: 100%;
        height: 400px;
        background-image: url(./public/img/jumbotron.jpg);
        background-position: top;

    }

    #content {
        @include container;
        min-height: 500px;
        
    }

    #shop {

        background-color: $main-shop-section-bg;


            ul {
                @include container;
                @include main-display-flex;
                padding: $main-shop-padding;

                li {
                    list-style: $general-list-style;

                    .shop-icons {

                        display: flex;
                        align-items: center;

                        img {
                            width: $main-img-width;
                        }

                        a {
                            text-decoration: $general-a-text-decoration;
                            color: white;
                            margin-left: 10px;
                            font-size: 12px;
                            font-size: smaller;
                        }
                        

                    }

                }
            }

    }
}
