@use 'partials/variables.scss' as *;
@use 'partials/mixins.scss' as *;

main {
    background-color: $main-section-one-bg;

    #content {
        @include container;

        padding: $main-padding;
        font-size: 24px;
        
        a {
            text-decoration: $a-text-decoration;
            color: white;
        }   
    }
}
