/*

    GENERALS MIXINS

*/

@mixin container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}


/*

    HEADER MIXINS

*/



@mixin header-display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*

    MAIN MIXINS

*/

@mixin main-display-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*

    FOOTER MIXINS

*/
@mixin footer-display-flex {
    display: flex;
    justify-content: space-between;
}

@mixin footer-list-display-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@mixin footer-img-logo {
    display: flex;
    align-items: center;
}