/*

    GENERALS MIXINS

*/

@mixin container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}


/*

    HEADER MIXINS

*/



@mixin header-display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*

    MAIN MIXINS

*/

@mixin main-display-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin main-content-flex {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

@mixin main-current-menu-flag {
    color: white;
    position: absolute;
    top: -25px;
    width: 250px;
    height: 50px;
    background-color: #0482F9;
    font-size: 24px;
    font-style: italic;
    line-height: 48px;
}

@mixin comic-container-button {
    background-color: #0482F9;
    color: white;
    padding: 10px 50px;
    border: none;
    margin-bottom: 30px;
    cursor: pointer;
    font-weight: bold;
}

/*

    FOOTER MIXINS

*/
@mixin footer-display-flex {
    display: flex;
    justify-content: space-between;
}

@mixin footer-list-display-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin footer-list-div-d-flex {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

@mixin footer-img-logo {
    display: flex;
    align-items: center;
}

@mixin footer-bottom-display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin footer-bottom-button {
    padding: 12px;
    border: 2px solid #0482F9;
    color: #fff;
    background: none;
    font-size: 18px;
}