/*

    HEADER

*/

$general-a-text-decoration: none;
$general-list-style: none;

/*

    HEADER

*/


$logo-width: 80px;
$header-bg-color: #fff;
$header-hg: 200px;
$header-padding: 25px 0;

/*

    MAIN

*/

$main-section-one-bg: #1C1C1C;
$main-section-one-padding: 50px 0;
$main-shop-padding: 50px 50px;
$main-shop-section-bg: #0482F9;
$main-img-width: 50px;

/*

    FOOTER

*/

$footer-hg: 400px;
$footer-bottom-bg: #303030;
