/*

    GENERAL

*/

$main-color: #0482F9;
$general-a-text-decoration: none;
$general-list-style: none;

/*

    HEADER

*/


$logo-width: 80px;
$header-bg-color: #fff;
$header-hg: 130px;
$header-padding: 25px 0;

/*

    MAIN

*/

$main-section-one-bg: #1C1C1C;
$main-section-one-padding: 50px 0;
$main-shop-padding: 50px 50px;
$main-shop-section-bg: #0482F9;
$main-img-width: 50px;

/*

    FOOTER

*/

$footer-hg: 400px;
$footer-list-wd: 500px;
$footer-bottom-bg: #303030;
$footer-bottom-padding: 35px 0;
$span-color: #0482F9;